
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background: rgb(35, 54, 92);
    background: linear-gradient(
      180deg,
      rgba(35, 54, 92, 1) 0%,
      rgba(58, 88, 133, 1) 51%,
      rgba(28, 45, 79, 1) 100%
    );
    color: white;
    overflow: hidden;
  }

  .container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    width: 100%;
    margin-top: 40px;
  }



  .calendar-content {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }

  .calendar-content.open {
    opacity: 1;
    pointer-events: auto;
  }
  .calendar-content table td.selected {
    background-color: #fff;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  .calendar-content table td.available {
    transition: background-color 0.3s ease;
  }
  
  .calendar-content table td.unavailable {
    transition: background-color 0.3s ease;
  }
  .calendar-content table td:hover {
    background-color: rgba(144, 255, 159, 0.5);
    cursor: pointer;
  }
      
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background: rgb(35, 54, 92);
    background: linear-gradient(180deg, rgba(35, 54, 92, 1) 0%, rgba(58, 88, 133, 1) 51%, rgba(28, 45, 79, 1) 100%);
    color: white;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
    margin-top: 40px;
  }

  .camping-info,
  .calendar,
  .formu {
    width: calc(50% - 20px);
    margin: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
  }

  .formu {
    max-width: 400px;
  }

  .formu h1 {
    margin-bottom: 20px;
    text-align: center;
  }

  .formu label {
    display: block;
    margin-bottom: 10px;
  }

  .formu input,
  .formu select,
  .formu textarea {
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    border: none;
  }

  .formu textarea {
    resize: vertical;
  }

  .formu input[type="submit"] {
    background-color: #333;
    color: #fff;
    cursor: pointer;
  }

  .formu input[type="submit"]:hover {
    background-color: #555;
  }

.tww2{
  display: flex;
  gap: 10px;
}
.calendar-content table td.selected {
  background-color: rgb(37, 155, 37);
  color: white;
}
@media (max-width: 700px) {
  .formu h1{
font-size: 23px;
  }
body{
  height: 1000px;
}
  }
