body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(35,54,92);
background: linear-gradient(180deg, rgba(35,54,92,1) 0%, rgba(58,88,133,1) 51%, rgba(28,45,79,1) 100%);

  }
  
  header {
  border-bottom: rgb(0, 0, 0) solid;
    padding: 20px;
    display: flex;
    
    
    width: 97.5%;
    
  }
nav{
  display: flex;
  width: 100%;
  
}

  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: end;
    justify-content:flex-start;
    gap: 10rem;
    background: none;
    
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
    
  }
  h1{
    color: #fff;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #c2bfbf;
    background: none;


  }
  nav ul :hover {
    transform: scale(1.1);
    transition:calc(0.5s);
    
    color: #ffffff;


  }
  @media screen and (max-width: 800px) {
    header{
      font-size: 15px;
      display: flex;
      height: 20rem;
      flex-direction: column;
      
    }
    nav ul{
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      
    }
    nav{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40rem;
    }
    .accordion{
      width: 100%;
padding-left:  70px;
      display: flex;
      justify-content: flex-end;
     
    }
  }
  
  
  section {
    padding: 40px;
  }
  
  section h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .booknow {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
  }

  section#main1 {
    background-image: url(camping.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #000000;
    text-align: center;
    padding: 100px;
  }


  
  footer{
  
    color: white;
    display: flex;
    width: 100%;
    border-top: #000000 solid;
    
    
    
    
  }
  
  .foot1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 30px;
    width: 30%;
    
    
  }
  
::-webkit-scrollbar{
  display: none;
}
  
  
  .copy{
    display: flex;
    flex-direction: column;
    justify-content:end;
    align-items: end;
    width: 70%;
    
  }
  
  .Img{
    display: flex;
    
    justify-content:center;
    align-items: center;
    gap: 12rem;
    flex-wrap: wrap;
    
    

  }
  .Img::before.Img{
    min-width: 100%;
  }
.Img::after.Img{
  max-width: 50px;
}
  #accommodation{
    background: rgb(67,91,137);
    background: linear-gradient(262deg, rgba(67,91,137,1) 0%, rgba(109,139,153,1) 55%);
    border-radius: 60px;
    width: 12rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
    
  }


  


  #facilities{
    background: rgb(67,91,137);
background: linear-gradient(262deg, rgba(67,91,137,1) 0%, rgba(109,139,153,1) 55%);
    border-radius: 60px;
    width: 12rem;
    
  }
#activities{
  background: rgb(76,99,143);
  background: linear-gradient(180deg, rgba(76,99,143,1) 0%, rgba(109,139,153,1) 51%, rgba(81,104,148,1) 100%);
    border-radius: 60px;
    width: 12rem;
}

.accordion{
  width: 40%;
}
.vraag{
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: end;
  align-items: stretch;
  

  
  
}


.antwoord{
  
  height: auto;
  display: none;
  background-color: var(--wit);
  
  
}

.vraag label{
  
  cursor: pointer;
  color: #fff;
  transition: background-color ease 2.10s;

}

.vraag [type="checkbox"]{
  display: none;
  
  
}

.vraag [type="checkbox"]:checked + label {

width: 55px;
color: #0067b8;


}

.vraag [type="checkbox"]:checked + label + .antwoord {
  display:block;
  
}
img{
  width:50px;
}
.vraag1{
width: 50px;
margin: 0%;
padding: 0%;
}

.para{
color: white;
font-size: 18px;
}
.para1{
  color: white;

}
.natuur img{
width: 300px;
height: 200px;
}

.lengte{
  
  padding-left: 40px;
  color: white;
  padding-top: 30px;
  font-size: 12px;

}
.lengte p{
  font-size: 18px;
}
.lengte1{
  padding-left: 40px;
  font-size: 22px;
}

